@page  "/Blog"

<h3>Blog</h3>

<h5>Para el blog de esta clase se nos pidio resolver la pregunta de ¿Como nos vemos en 20 años? Pero para darle una respuesta a esta pregunta
	debo responder primero a ¿Quien soy yo? Yo soy Hector Daniel Diaz Alvarado un joven de 18 años, estudiante de Ingenieria Informatica de la
	Universidad de la Sabana. Me considero un apasionado por la tecnologia y los diferentes avances que se producen debido a esta. Asimismo, me 
gustan los videojuegos y todo lo relacionado al desarrollo de estos. Tambien, me interesa la IA (Inteligencia Artificial) y el como a medida que avanza
el tiempo esta se va desarrollando de una manera exponencial. Por lo tanto, ¿Como me veo yo en 20 años? Me veo como una persona que esta trabajando en
lo que le gusta como un desarrollador de IA y de videojuegos asimismo que ha podido crear diferentes negocios y/o emprendimientos y ya habiendo trabajado
con diferentes empresas bien posicionadas en el mercado. Eso era por la parte laboral, ya en el ambito personal me veo como un hombre que a sus 38 años ha 
podido conformar su propia familia.</h5>

@code {

}
