@page  "/Pagina1clase"

<h1>Hector Diaz</h1>

<MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="OnButtonClicked">Delete</MudButton>
<MudButton Variant="Variant.Filled"  Color="Color.Primary" OnClick="OnGenerarAlerta">Alerta</MudButton>
<MudButton Variant="Variant.Filled"  Color="Color.Info" OnClick="OnGenerarMensaje">Mensaje</MudButton>

@code {
    [Inject] private IDialogService DialogService { get; set; }
    [Inject] private ISnackbar SnackBarService { get; set; }
    string state = "Message box hasn't been opened yet";

    private async void OnButtonClicked()
    {
        bool? result = await DialogService.ShowMessageBox(
            "Clase Programacion Nuevas Tecnologias", 
            "se va a eliminar", 
            yesText:"Borre", cancelText:"Cancelar");
        state= result==null ? "Cancelled" : "Deleted!";
        StateHasChanged();
    }
    private async void OnGenerarAlerta()
    {
        SnackBarService.Add("Alerta", Severity.Error);
    }
    private async void OnGenerarMensaje()
    {
        SnackBarService.Add("Mnesaje generado correctamente", Severity.Error);
    }
}
